<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        body {
            background-color: aqua;
        }
        
        #navbar {
            background-color: #333;
            overflow: hidden;
            width: 100%;
            height: 100px;
        }
        
        #navbar a {
            display: block;
            float: left;
            padding: 10px;
            font-size: 30px;
            color: #f2f2f2;
            text-decoration: none;
            padding: 14px 16px;
            text-align: center;
        }
        
        #navbar a:hover {
            background-color: #f2f2f2;
            color: rgb(19, 16, 16);
        }
        
        #purchaselog {
            width: 100%;
        }
        
        .item-container {
            width: 25%;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function loadUserDetails(users) {
            $("#user-details").html("");
            for (let i = 0; i < users.length; ++i) {
                const userCard =
                    `<form id='${users[i].username}' action='/updateuser' method='POST'>
                     <input style='visibility: hidden;' name='${'userspot'}' value='${users[i].username}'/>
                     <label>First Name</label>
                     <input type="text" name='firstname' value='${users[i].firstname}'/>

                     <label>Last Name</label>
                     <input type="text" name='lastname' value='${users[i].lastname}'/>

                     <label>Password</label>
                     <input type="text" name='password' value='${users[i].password}'/>

                     <label>Delete</label>
                     <input type='checkbox' name='delete'/>
                
                     <input type='submit' value='change'/>
                </form>`;

                $("#user-details").append(userCard);

            }

        }


        $(document).ready(function() {

            $("#get-users-btn").click(function f() {
                $.ajax({
                    type: "GET",
                    url: `/getusers`,
                    success: function(data) {
                        loadUserDetails(data);
                    }
                })
            });

            $("#add-users-btn").click(() => {
                $("#create-user-info").html("");
                const fields = `<form action="/adduser" method="POST">
                                <label>username:</label>
                                <input type="text" name="username">
                                <label>First Name:</label>
                                <input type="text" name="firstname">
                                <label>Last Name:</label>
                                <input type="text" name="lastname">
                                <label>Password</label>
                                <input type="password" name="password">
                                <label>Admin:</label>
                                <input type="checkbox" name="admin">
                                <input type='submit' value='Submit'/>
                            </form>`;

                $("#create-user-info").append(fields);
            });

            //...




        });
    </script>
</head>

<body>
    <nav id="navbar">
        <ul>
            <a id="get-users-btn">Edit Users</a>
        </ul>
        <ul>
            <a id="add-users-btn">Add Users</a>
        </ul>
    </nav>

    <h1>Welcome
        <%=username%>
    </h1>
    <h2>
        <%=message%>
    </h2>

    <div id="create-user-info">

    </div>

    <div id="functionalities">
        <!-- <button id="get-users-btn"></button> -->
    </div>

    <div id="user-details"></div>

</body>

</html>