<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
    <style>
        #navbar {
            background-color: #333;
            overflow: hidden;
            width: 100%;
            height: 100px;
        }
        
        #navbar a {
            display: block;
            float: left;
            padding: 10px;
            font-size: 30px;
            color: #f2f2f2;
            text-decoration: none;
            padding: 14px 16px;
            text-align: center;
        }
        
        #navbar a:hover {
            background-color: #f2f2f2;
            color: rgb(19, 16, 16);
        }
        
        #purchaselog {
            width: 100%;
        }
        
        .item-container {
            width: 25%;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    </style>
</head>

<body>
    <nav id="navbar">
        <ul>
            <a href="/logout">
                Log out
            </a>
            <a href="checkout">checkout</a>
            <a href="/search">
                Search 
            </a>

            <a href="/purchasehistory">Purchase History</a>
            <a href="/playgame">Play game</a>
            <a href="/gamelogfile">view game log</a>
            <a href="/editaccount">edit account</a>
        </ul>
    </nav>
    <h1>
        <%=username%>'s account info:</h1>
    <form action='/changeaccount' method='POST'>
        <label>First Name</label>
        <input type="text" name='firstname' value='<%=firstname%>' />

        <label>Last Name</label>
        <input type="text" name='lastname' value='<%=lastname%>' />

        <label>Password</label>
        <input type="text" name='password' value='<%=password%>' />

        <input type='submit' value='change' />
    </form>

</body>

</html>